body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.score{
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    font-weight: bold;
    font-size: 20px;
}